<!-- views/index.ejs -->
<%- include views/header.ejs %>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-train"></span> The Special Train</h1>
        <h2>Rolling our way...in 2FA! <i>(please clap)</i></h2>

        <p>Access totally top secret government secret secrets here or create your super secret government account here:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>

</div>
</body>
</html>


