<!-- views/index.ejs -->
<% var page = "home" %>
<%- include header.ejs %>
<body>
<%- include nav.ejs %>
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1><i class="fa fa-train" aria-hidden="true"></i> The Special Train</h1>
            <h2>Rolling our way...in 2FA! <i>(please clap)</i></h2>

            <p>Access totally top secret government secret secrets here!</p>
            <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login »</a></p>
        </div>
    </div>
</main>
<footer class="container">
    <p>© Trains 2017</p>
</footer>
</body>
</html>


