<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><i class="fa fa-train" aria-hidden="true"></i> Special Train</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item <% if(page == "home") { %> active <% } %>"><a class="nav-link" href="/">Home</a></li>
            <% if(typeof(user) !== "undefined") { %>
                <% if(page !== "2fa-auth") { %>
                    <li class="nav-item <% if(page == "profile") { %> active <% } %>"><a class="nav-link" href="/profile">Profile</a></li>
                    <% if(user.u2f.u2fPubKey !== null)  { %>
                        <li class="nav-item <% if(page == "dank") { %> active <% } %>"><a class="nav-link" href="/dankmemes">Bill's Secret Dank Memes Stash</a></li>
                    <% } %>
                <% } %>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <% } else { %>
                <li class="nav-item <% if(page == "login") { %> active <% } %>"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item <% if(page == "signup") { %> active <% } %>"><a class="nav-link" href="/signup">Signup</a></li>
            <% } %>
		</ul>
        <% if(typeof(user) !== "undefined") { %>
            <div class="nav-text text-white">Welcome <%= user.local.email %>
        <% } %>
	</div>
</nav>
